{%extends 'all-people/base.html'%}
{% block content %} 
{{ block.super}}
{% load bootstrap3 %}

<div class="container" style=" background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKWGhLYdpxI9f7PmIUZ8VMeKSVwsvBpaVLPJmDQjLcx4q2KyPaWQ'); background-repeat: no-repeat; background-size: cover;">
  <div class="row">
    <div class="jumbotron" style="background-color:bisque;">
      <h1  class='text-center'> Recent Posts</h1> 
    </div>
 
    {%for posts in posts%}
   
    
    </div>
{%endfor%}
  </div>
</div>

{% endblock %}